body {
    background-color: #FFFFFF;
    font-family: 'Inter';
    font-size: 22px;
}

a {
    text-decoration: none;
    color: #7049E8;
}


.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    background: #7049E8;
}

.border {
    margin: 40px;
}

h1 {
    font-size: 150px;
    width: 40%;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 50px;
}