<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename ='form.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="img">
    <h1>☂️</h1>
</div>
<div class="text">
    <h3>Hi 👋 I’m Max</h3>
    <h2>This site was created to convert numbers from numeric form to written numbers. In the future I plan to expand it
        to more languages than English. The source code of the page as well as API documentation can be found on my
        <a href="https://github.com/FilipFilipinski">github.</a></h2>
</div>
<div class="block">
    <a> hi </a>
</div>
</body>
</html>